@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?s5yjpp');
  src:  url('../fonts/icons.eot?s5yjpp#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?s5yjpp') format('truetype'),
    url('../fonts/icons.woff?s5yjpp') format('woff'),
    url('../fonts/icons.svg?s5yjpp#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-map:before {
  content: "\e900";
}
._icon-message:before {
  content: "\e901";
}
._icon-telephone:before {
  content: "\e902";
}
._icon-butterfly:before {
  content: "\e903";
  color: #ff817e;
}
._icon-facebook:before {
  content: "\e904";
}
._icon-google-plus:before {
  content: "\e905";
}
._icon-instagram:before {
  content: "\e906";
}
._icon-twitter:before {
  content: "\e907";
}
